# top-most EditorConfig file
root = true

# Unix-style newlines
[*]
end_of_line = lf
insert_final_newline = true

# Indentation
[*.js, *.jsx, *.ts, *.tsx]
indent_style = space
indent_size = 2

# Trim trailing whitespaces
[*.js, *.jsx, *.ts, *.tsx, *.md]
trim_trailing_whitespace = true

# Maximum line length
[*.md]
max_line_length = off
